<h1>GAC Technologie</h1>
<div class="">
    <div class="">
        Durée totale réelle des appels :
        {{ real_duration }}
    </div>
    <div class="">
        Top 10 volume data facturé :
        <ul>
            {% for test in billed_duration %}
                <li>{{ test.billed_duration|date('H-i-s') }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

